/*.cyan darken-4
#ef5350 red lighten-1*/

h4 {
    position: relative;
}

h4 .tda-text-title {
    margin-left: 40px;
}

h4 i{
    line-height: inherit!important;
    font-size: inherit!important;
    position: absolute;
}

.row.flex {
    display: flex;
}

blockquote {
    border: none;
}

blockquote:before {

}

.tda-cv-container {
    width: 80%;
    margin: 30px auto;
    background-color: #E4E4E4;
}

.tda-cv-container .row{
    margin-bottom: 0;
}


.tda-container {
    padding: 20px;
}


.tda-avatar {
    min-height: 200px;
}

.tda-avatar img {
    margin: auto;
    width: 60%;
    height: 60%;
    border: 3px solid rgba(0,96,100,0.3);
}

.tda-timeline {
    /* Patternify #006064 opcaity 0.7 */
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAEElEQVQIW2NkwAfiUn1g0gAK+gERRsXmpQAAAABJRU5ErkJggg==) center repeat-y;
}

.tda-timeline:after {
    position:absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid rgba(0,96,100,0.3);
    margin-left: 18px;
}


/* EDUCATIONAL PART */
.tda-education-content .tda-education-item:not(:first-child) .tda-timeline:after,
.tda-education-content .tda-education-item:first-child .tda-timeline {
    margin-top: 17px;
}